<!DOCTYPE html>
<html>
<head>
	<title>Disease Pred</title>
</head>
<body>
	<h4>Select type of Disease</h4>
	<div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/cancer">Cancer</a>
          <a class="nav-item nav-link" href="/diabetes">Diabetes</a>
          <a class="nav-item nav-link" href="/heart">Heart</a>
          <a class="nav-item nav-link" href="/liver">Liver</a>
        </div>
{% block content %}
<h4>Hi welcome to my app</h4>
{%endblock%}
</body>
</html>