{% extends "home.html" %}
{% block content %}
<form action="/liver" method="POST">
    <label for="Age">Age : </label>
    <input type="text" id="Age" name="Age">
    <br>

    <label for="Gender">Gender : </label>
    <input type="text" id="Gender" name="Gender">
    <br>

    <label for="Total_Bilirubin">Total_Bilirubin : </label>
    <input type="text" id="Total_Bilirubin" name="Total_Bilirubin">
    <br>

    <label for="Direct_Bilirubin">Direct_Bilirubin : </label>
    <input type="text" id="Direct_Bilirubin" name="Direct_Bilirubin">
    <br>

    <label for="Alkaline_Phosphotase">Alkaline_Phosphotase : </label>
    <input type="text" id="Alkaline_Phosphotase" name="Alkaline_Phosphotase">
    <br>

    <label for="Alamine_Aminotransferase">Alamine_Aminotransferase : </label>
    <input type="text" id="Alamine_Aminotransferase" name="Alamine_Aminotransferase">
    <br>

    <label for="Aspartate_Aminotransferase">Aspartate_Aminotransferase : </label>
    <input type="text" id="Aspartate_Aminotransferase" name="Aspartate_Aminotransferase">
    <br>

    <label for="Total_Protiens">Total_Protiens : </label>
    <input type="text" id="Total_Protiens" name="Total_Protiens">
    <br>

    <label for="Albumin">Albumin : </label>
    <input type="text" id="Albumin" name="Albumin">
    <br>

    <label for="Albumin_and_Globulin_Ratio">Albumin_and_Globulin_Ratio : </label>
    <input type="text" id="Albumin_and_Globulin_Ratio" name="Albumin_and_Globulin_Ratio">
    <br>
    <br>

    <input type="submit" value="Submit"><br><br>
</form>

{% if context !='' %}
<h3>{{ context }}</h3>
{% endif %}
{% endblock %}